.image img{
    border-radius: 100%;
    float: right;
    margin-top: 30px;
    margin-bottom: 50px;
}

p{
    clear: right;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 36px;
    margin: 100px;

}
ul{
    display: inline;
    margin-bottom: 100px;
}
li{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 36px;
    margin: 10px;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
    
}
body{
     background: linear-gradient(#D6DAD2, #38610F);
}
a:link, a:visited{
    text-decoration: none;
    color: #540FBC;
}
