body{
    background-color: #FBD9FB;
}
h1{
    clear: right;
    font-family:'Dancing Script', cursive;
    color: #D1AFF2;
    font-size: 80px;
    text-align: center;
    }
h2{
    font-family: 'Shadows Into Light', cursive;
    color: #EA8EBC;
    font-size: 40px;
    text-align: center;
}

.picdes{
    display: inline-block;
    
}
figcaption{
    font-family: 'Gloria Hallelujah', cursive;
    color: #67123D;
    font-size: 28px;
    text-align: center;
    }
.type{
    text-align: center;
    border-bottom: thick solid #E1559B;
    }
ul {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0 20px;
  text-align: center;
  background-color: #FCAFD6;

}
li {
  display: inline-block;
  width: 200px;
  color: #1C1CFB;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  text-transform: uppercase;
}
.image img{
    border-radius: 100%;
    float: right;
    margin-top: 30px;
    margin-bottom: 50px;
}
a:link, a:visited{
    text-decoration: none;
    color: #B489F4;
}
